*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/* Page ALignment */

.alignmentGeneral{
    padding: 0vh 17vw 0vh 17vw;
}
/* end */


/* SectionsColor */
.upperSection, .bottomSection{
    background-color: #1F2937;
}
/* end */

#header_Title{
    font-size: 24px;
}

#header_Main{
    display: flex;
    justify-content: space-between;
    color: white;
    height: 60px;
    align-items: center;
}

#header_Menu{
    display: flex;
    list-style: none;
    width: 445px;
    justify-content: space-between;
}

#header_Menu li {
    font-size: 18px;
}

.informativeAds{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
}
.textButton{
    width: 40%;
}

.textButton button{
    margin-top: 10px;
    width: 82px;
    height: 30px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #3882F6;
    font-weight: bold;
}

.informativeImg{
    display: flex;
    width: 55%;
    background-color: grey;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
}

.titleInformative{
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

.textInformative{
    color: #afa9a9;
    font-size: 18px;
}


.containerQuotes{
    background-color: #E5E7EB;
    padding: 5vh 20vw 5vh 20vw;
}

.containerQuotes .quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.containerQuotes .author{
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: bolder;
    font-size: 18px;
}

#footer{
    display: flex;
    color: white;
    height: 90px;
    align-items: center;
    justify-content: center;
}
