*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/* Page ALignment */

.alignmentGeneral{
    padding: 0vh 17vw 0vh 17vw;
}
/* end */


/* SectionsColor */
.upperSection, .bottomSection{
    background-color: #1F2937;
}
/* end */

#header_Title{
    font-size: 24px;
}

#header_Main{
    display: flex;
    justify-content: space-between;
    color: white;
    height: 60px;
    align-items: center;
}

#header_Menu{
    display: flex;
    list-style: none;
    width: 445px;
    justify-content: space-between;
}

#header_Menu li {
    font-size: 18px;
}

.informativeAds{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
}

.textButton{
    width: 40%;
}

.textButton button{
    margin-top: 10px;
    width: 82px;
    height: 30px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #3882F6;
    font-weight: bold;
}

.informativeImg{
    display: flex;
    width: 55%;
    background-color: grey;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
}

.titleInformative{
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

.textInformative{
    color: #afa9a9;
    font-size: 18px;
}


.containerQuotes{
    background-color: #E5E7EB;
    padding: 5vh 20vw 5vh 20vw;
}

.containerQuotes .quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.containerQuotes .author{
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: bolder;
    font-size: 18px;
}

.generalImageContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerImages h2{
    text-align: center;
    color: #1F2937;
    font-weight: bolder;
}

.containerImages{
    display: flex;
    padding-top: 50px;
    padding-bottom: 60px;
    height: 316px;
    flex-direction: column;
    gap: 50px;
}

.containerImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    gap: 10px;
}

.image{
    display: flex;
    height: 161px;
    width: 181px;
    border: 2px solid #3882F6;
    border-radius: 25px;
}

.image img{
    width: 100%;
    border-radius: 23px;
}

.textImage{
    text-align: center;
    padding: 0px 35px 0px 35px;
}

.containerLoginGeneral{
    padding-top: 130px;
    padding-bottom: 130px;
}

.containerLogIn{
    display: flex;
    background-color: #3882F6;
    height: 150px;
    border-radius: 10px;
    justify-content: space-between;
}

.containerTextoInfo{
    display: flex;
    width: 67%;
    flex-direction: column;
    justify-content: center;
    padding-left: 94px;
}

.containerTextoInfo .title{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.containerTextoInfo .subtext{
    color: #bdbdbd;
    font-size: 13px;
}

.containerButtonLogIn{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.containerButtonLogIn button{
    width: 110px;
    height: 36px;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}


#footer{
    display: flex;
    color: white;
    height: 90px;
    align-items: center;
    justify-content: center;
}
